<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-color: blue;
        }
    </style>
</head>
<body>
    <center>
        <h1>rohit</h1>
        <h1>rohit is one the greatest captain</h1>
        <h1>rohit is the one of the best opener and well known for his timing.............</h1>
        <h1><a href="{% url 'dhoni' %}">dhoni</a></h1>


    </center>
</body>
</html>